body {
  color:#1F1D36;
  background-color:powderblue;
}

hr {
  border-style:none;
  border-top-style: dotted;
  border-color: grey;
  border-width:5px;
  width:100%;
}

h1 {
  color:#1F1D36;
}

h2 {
  color:#1F1D36;
}
