/*********************************Tag Selectors****************************/
body {
  padding-left: 20px;
  color: #fff;
  background-color: #ff4c68;
}

a {
  color: #fff;
}

h1 {
  color: #fff;
}

a:hover {
  color: red;
}

h2 {
  color: #fff;
}

/* *********************************Class Selectors**************************** */
.e1 {
  width: 80%;
}

.e1:hover {
  background-color: red;
}

.circular {
  border-radius: 100%
}