/*********************************HTML Tag****************************/

body {
  color:#1F1D36;
  background-color:powderblue;
}

h1 {
  color:#1F1D36;
}

h2 {
  color:#1F1D36;
}

img:hover{
  background-color: red;
}

/*********************************ID Selectors****************************/

#input:hover{
  background-color: gold;
}

/*********************************Class Selectors****************************/

.circular{
  border-radius: 100%
}
