/*********************************Class ****************************/
.c1{
  width:200px;
  height:200px;
  padding:20px;
  background-color: powderblue;
  border:solid 10px;
}

.c2{
  background-color: red;
  margin-left:260px;
  width:200px;
  height:200px;
  border:solid 20px;
}

.c3{
  background-color: yellow;
  margin-left:500px;
  width:200px;
  height:200px;
  border:solid 10px;
}
